#upload {
  display: inline-block;
  background-color: #4fd69c;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#uploadIcon {
  margin-right: 10px;
}

#textOfPix {
  text-align: center;
  color: #7889e8;
}
